<div class="upper">
  <h1>Foundation</h1>
  <div class="core">
  <%= image_tag 'core-placeholder.png' %>
  </div>
</div>

<div class="speech-bubble-list flow">
  <div class="speech-bubble">
    <p>Hi, I'm F-Core. I'm here to help you take care of the foundations of your life.</p>
  </div>
  <div class="speech-bubble">
    <p>We're going to be focusing on sleep, diet, and exercise.</p>
  </div>
</div>
